---
---

@import 'variables';
@import 'reset';

/**************/
/* GLOBAL RULES */
/**************/

.site-name {
  width: 12rem;
  height: 3rem;
  padding: 0 6px;
  text-align: center;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 3rem;
  cursor: default;
  color: var(--color-primary-offset);
  background-color: var(--color-primary-main);

  @include mobile {
    width: 11.6rem;
    height: 2.3rem;
    line-height: 2.3rem;
  }
}

/****************************/
/* Random General */
/****************************/

.right {
  float: right;
  margin-left: 1rem;
}

.left {
  float: left;
  margin-right: 1rem;
}

.right,
.left {
  margin-bottom: 1rem;

  @include mobile {
    float: unset;
    margin-left: 0;
    margin-right: 0;
  }
}

* .left + *,
* .right + * {
  clear: both;
}

.sz400init {
  width: 350px;
  @include tablet {
    width: 300px;
  }
  @include mobile {
    width: initial;
  }
}

@import 'base';
@import 'header';
@import 'page';
@import 'post';
@import '404';
@import 'tags';
@import 'footer';

@import 'highlights';
@import 'svg-icons';
