//
// Base Rules
//

html {
  font-size: 16px;
  background: var(--color-outer-background);
}

body {
  margin: 10px;
  background-color: var(--color-primary-offset);
  border: 1px solid var(--color-outer-border);
  color: var(--color-main-text);
  border-radius: 5px;
  font: 18px/1.4 $notoSans;
  color: $darkGray;
  min-height: 100%;
}

a {
  cursor: pointer;
  color: var(--color-main-text);
  text-decoration-color: var(--color-main-text);
  text-decoration: underline;
  transition: text-decoration-color 0.5s;

  &:focus,
  &:hover,
  &:active {
    cursor: pointer;
    color: var(--color-main-text);
    text-decoration-color: var(--color-secondary-main);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $notoSerif;
  font-weight: bold;
  line-height: 1.3;
  cursor: default;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 3.25rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1rem;
}

h3 {
  font-size: 1.4rem;
  margin-top: 1rem;
}

h4 {
  font-size: 1.2px;
  margin-top: 1rem;
}

main {
  margin-top: 6rem;
}
