.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  margin: 0;
  overflow: auto;
}

code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

code.language-plaintext {
  background: #eee;
  padding: 3px;
}

$commentGreen: #00b200;
$stringLiteralClay: #bb6644;
$keywordBlue: #3890d8;
$punctuationBlack: $black;
$variableNameBlack: $black;
$attributeNameGray: $gray;
$classNameBlue: #2b91af;

$orange: #cb4b16;
$tan: #b58900;

.highlight .c {
  color: $commentGreen; /* Comment */
}
.highlight .err {
  color: $classNameBlue; /* Error */
}
.highlight .g {
  color: $classNameBlue; /* Generic */
}
.highlight .k {
  color: $keywordBlue; /* Keyword */
}
.highlight .l {
  color: $classNameBlue; /* Literal */
}
.highlight .n {
  color: $variableNameBlack; /* Name */
}
.highlight .o {
  color: $punctuationBlack; /* Operator */
}
.highlight .x {
  color: $orange; /* Other */
}
.highlight .p {
  color: $punctuationBlack; /* Punctuation */
}
.highlight .cm {
  color: $commentGreen; /* Comment.Multiline */
}
.highlight .cp {
  color: $punctuationBlack; /* Comment.Preproc */
}
.highlight .c1 {
  color: $commentGreen; /* Comment.Single */
}
.highlight .cs {
  color: $tan; /* Comment.Special */
}
.highlight .gd {
  color: $stringLiteralClay; /* Generic.Deleted */
}
.highlight .ge {
  color: $classNameBlue; /* Generic.Emph */
  font-style: italic;
}
.highlight .gr {
  color: $orange; /* Generic.Error */
}
.highlight .gh {
  color: $orange; /* Generic.Heading */
}
.highlight .gi {
  color: $tan; /* Generic.Inserted */
}
.highlight .go {
  color: $classNameBlue; /* Generic.Output */
}
.highlight .gp {
  color: $classNameBlue; /* Generic.Prompt */
}
.highlight .gs {
  color: $classNameBlue; /* Generic.Strong */
  font-weight: bold;
}
.highlight .gu {
  color: $orange; /* Generic.Subheading */
}
.highlight .gt {
  color: $classNameBlue; /* Generic.Traceback */
}
.highlight .kc {
  color: $stringLiteralClay; /* Keyword.Constant */
}
.highlight .kd {
  color: $keywordBlue; /* Keyword.Declaration */
}
.highlight .kn {
  color: $tan; /* Keyword.Namespace */
}
.highlight .kp {
  color: $tan; /* Keyword.Pseudo */
}
.highlight .kr {
  color: $keywordBlue; /* Keyword.Reserved */
}
.highlight .kt {
  color: $classNameBlue; /* Keyword.Type */
}
.highlight .ld {
  color: $classNameBlue; /* Literal.Date */
}
.highlight .m {
  color: $stringLiteralClay; /* Literal.Number */
}
.highlight .s {
  color: $stringLiteralClay; /* Literal.String */
}
.highlight .na {
  color: $attributeNameGray; /* Name.Attribute */
}
.highlight .nb {
  color: $tan; /* Name.Builtin */
}
.highlight .nc {
  color: $classNameBlue; /* Name.Class */
}
.highlight .no {
  color: $stringLiteralClay; /* Name.Constant */
}
.highlight .nd {
  color: $classNameBlue; /* Name.Decorator */
}
.highlight .ni {
  color: $orange; /* Name.Entity */
}
.highlight .ne {
  color: $orange; /* Name.Exception */
}
.highlight .nf {
  color: $classNameBlue; /* Name.Function */
}
.highlight .nl {
  color: $attributeNameGray; /* Name.Label */
}
.highlight .nn {
  color: $attributeNameGray; /* Name.Namespace */
}
.highlight .nx {
  color: $variableNameBlack; /* Name.Other */
}
.highlight .py {
  color: $attributeNameGray; /* Name.Property */
}
.highlight .nt {
  color: $classNameBlue; /* Name.Tag */
}
.highlight .nv {
  color: $classNameBlue; /* Name.Variable */
}
.highlight .ow {
  color: $tan; /* Operator.Word */
}
.highlight .w {
  color: $classNameBlue; /* Text.Whitespace */
}
.highlight .mf {
  color: $stringLiteralClay; /* Literal.Number.Float */
}
.highlight .mh {
  color: $stringLiteralClay; /* Literal.Number.Hex */
}
.highlight .mi {
  color: $stringLiteralClay; /* Literal.Number.Integer */
}
.highlight .mo {
  color: $stringLiteralClay; /* Literal.Number.Oct */
}
.highlight .sb {
  color: $stringLiteralClay; /* Literal.String.Backtick */
}
.highlight .sc {
  color: $stringLiteralClay; /* Literal.String.Char */
}
.highlight .sd {
  color: $classNameBlue; /* Literal.String.Doc */
}
.highlight .s2 {
  color: $stringLiteralClay; /* Literal.String.Double */
}
.highlight .se {
  color: $orange; /* Literal.String.Escape */
}
.highlight .sh {
  color: $classNameBlue; /* Literal.String.Heredoc */
}
.highlight .si {
  color: $stringLiteralClay; /* Literal.String.Interpol */
}
.highlight .sx {
  color: $stringLiteralClay; /* Literal.String.Other */
}
.highlight .sr {
  color: $orange; /* Literal.String.Regex */
}
.highlight .s1 {
  color: $stringLiteralClay; /* Literal.String.Single */
}
.highlight .ss {
  color: $stringLiteralClay; /* Literal.String.Symbol */
}
.highlight .bp {
  color: $classNameBlue; /* Name.Builtin.Pseudo */
}
.highlight .vc {
  color: $classNameBlue; /* Name.Variable.Class */
}
.highlight .vg {
  color: $classNameBlue; /* Name.Variable.Global */
}
.highlight .vi {
  color: $classNameBlue; /* Name.Variable.Instance */
}
.highlight .il {
  color: $stringLiteralClay; /* Literal.Number.Integer.Long */
}
