<!DOCTYPE html>
<html user-color-mode="light">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
      const colorMode = localStorage.getItem('app:colorMode') || 'light';
      const colorModeAttr = document.getElementsByTagName('html')[0].attributes['user-color-mode'];
      colorModeAttr.value = colorMode;
    </script>

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="{{ site.name }} - {{ site.description }}"
      href="/feed.xml"
    />
  </head>

  <body>
    {% include header.html %}
    <main>{{ content }}</main>
    {% include footer.html %} {% include analytics.html %}
  </body>
</html>
