---
layout: default
---

<article class="page tags-page">
  <header><h1>Tags</h1></header>
  {% assign tags = site.tags | sort:key %}

  <section class="tags">
    {% for tag in tags %} {% capture tag_name %}{{ tag | first }}{% endcapture %} {% capture tag_slug %}{{ tag_name |
    downcase | slugify }}{% endcapture %}
    <a name="{{ tag_slug }}"></a>
    <div class="tag tag-{{tag_slug}}">{{ tag_name }}</div>
    <div class="post-listing">
      {% for post in site.tags[tag_name] %}
      <div class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></div>
      {% endfor %}
    </div>
    {% endfor %}
  </section>
</article>
